<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/')} %>
  
<%- messages() %>

<p>Confirm Deletion - The delete is permanent.</p>

<form action="/inv/delete/" method="post">
    <p>All feilds are required.</p>
    <fieldset>
            <div class="form">
            <label for="inv_make">Make:</label>
                <input type="text" readonly <% if (locals.inv_make) { %> 
                    value=" <%= locals.inv_make %>" 
                    <% } %> >
                    
            <label for="inv_model">Model:</label>
                <input type="text" readonly <% if (locals.inv_model) { %> 
                    value=" <%= locals.inv_model %>" 
                    <% } %> >
            <label for="inv_price">Price:</label>
                <input type="text" readonly <% if (locals.inv_price) { %> 
                    value=" <%= locals.inv_price %>" 
                    <% } %> >
            <label for="inv_year">Year:</label>
                <input type="text" readonly <% if (locals.inv_year) { %> 
                    value=" <%= locals.inv_year %>" 
                    <% } %> >
            <input type="hidden" name="inv_id"
            <% if (locals.inv_id) { %> value=" <%= locals.inv_id %>"<% } %> >
            <label for="inv_description">Description:</label>
                    <br>
                    <input type="text" readonly <% if (locals.inv_description) { %> 
                        value=" <%= locals.inv_description %>" 
                        <% } %> >                    
                        <br>
            <label for="inv_image">Image:</label>
                    <input type="text" readonly <% if (locals.inv_image) { %> 
                    value=" <%= locals.inv_image %>" 
                    <% } %> >
            <label for="inv_thumbnail">Thumbnail:</label>
            <input type="text" readonly <% if (locals.inv_thumbnail) { %> 
                value=" <%= locals.inv_thumbnail %>" 
                <% } %> >
            <label for="inv_miles">Miles:</label>
                <input type="text" readonly <% if (locals.inv_miles) { %> 
                    value=" <%= locals.inv_miles %>" 
                    <% } %> >
            <label for="inv_color">Color:</label>
                <input type="text" readonly <% if (locals.inv_color) { %> 
                    value=" <%= locals.inv_color %>" 
                    <% } %> >
            <button id="button" type="submit">Delete</button>
    </fieldset>
</form>


<style>
    main{
      display: flex;
      flex-direction: column; 
      align-items: center;
    }
    input {
    width: 100%;
    }
    #button {
      background-color: rgb(37, 150, 190);
      border: none;
      color: black;
      font-size: 15px;
      padding: 10px 20px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style> 